body {
  background-color: #e4e4f3;
}
section {
  width: 300px;
  margin: 120px auto;
  background-image: linear-gradient(to left, #e8d8f6, #e6d7f0, #e8d9f2);
  position: relative;
  z-index: 1;
  padding: 10px;
  border-radius: 20px;
}
.pricing-table {
  position: relative;
  z-index: 2;
  background: #ffffff;
  border-radius: 20px;
  padding: 50px 35px;
}
.pricing-table h3 {
  color: #c4458a;
  text-transform: capitalize;
}
ul {
  margin-top: 56px;
}
ul li {
  padding: 15px 0;
  color: #505561;
}
ul li i {
  color: #78a357;
  background-color: #f3fbec;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
